/* Font imported from Google fonts
 headings: M Plus Rounded 1c in extra bold weight
 body text: Lato in regular weight
*/
@import url('https://fonts.googleapis.com/css2?family=Lato&family=M+PLUS+Rounded+1c:wght@800&display=swap');

/* Variables */
:root {
    --primary-font:'Lato', sans-serif;
    --heading-font: 'M_Plus_rounded_1c', sans-serif;
    --primary-background-color: #fbfcee;
    --primary-text-color: #47290b;
    --text-highlight-color: #de1b28;
    --secondary-text-color: #693c10ff; /* walnut*/
    --secondary-background-color: #e5e88fff; /* cream*/
    --shadow-color: #cbbb9fff; /* beige*/
    --second-highlight: #78a857ff; /* green*/
    --third-highlight: #f95d12ff; /* orange*/
    --background-color-semi-transparent: #fbfceedd;
    --success-background:#78a85788;
    --danger-background:#de1b2888;
}

/* Generic style rules*/
html{
    font-size: 10px;
}

body{
    background-color: var(--primary-background-color); 
    font-family: var(--primary-font);
    color:var(--primary-text-color);
    font-size: 1.8rem;
    margin-top:7.2rem;
}

.section{
    padding:2rem;
}

.display-1, 
.display-3,
.display-4{
    font-family: var(--heading-font);
    font-weight:bold;
}

.display-1{
    font-size:4.8rem;
}
.display-3{
    font-size: 3.2rem;
}

.display-4{
    font-size:2.6rem;
}

.hide{
    display: none;
}

.notes{
    opacity: 75%;
    font-size: 1.4rem;
    padding-top:1.5rem;
}
/* Buttons*/
.btn-main{
    background-color: var(--text-highlight-color);
    color:var(--primary-background-color);
    font-family: var(--primary-font), sans-serif;
    font-size: 1.8rem;
    padding:0.8rem 2rem 0.8rem 2rem;
    box-shadow:2rem 2rem 5rem var(--second-highlight);
}

.btn-main:hover{
    background-color: var(--secondary-text-color);
    color:var(--secondary-background-color);
}

.btn-second{
    background-color: var(--secondary-text-color);
    color:var(--primary-background-color);
    font-family: var(--primary-font), sans-serif;
    font-size: 1.8rem;
    padding:0.8rem 2rem 0.8rem 2rem;
    box-shadow:2rem 2rem 5rem var(--shadow-color);
}

.btn-second:hover{
    background-color: var(--secondary-background-color);
    color:var(--primary-text-color);
}

.btn-pag{
    background-color: var(--primary-background-color);
    color: var(--primary-text-color);
    border-color: var(--primary-text-color);
    font-family: var(--primary-font);
    font-size:1.8rem;
    text-transform: uppercase;
    margin-left:1rem;
    margin-right:1rem;
    padding:0.8rem 2rem 0.8rem 2rem;
}

.btn-pag:hover{
    color: var(--text-highlight-color);
    border-color: var(--text-highlight-color);
}

/* Navbar */

.navbar .container-fluid{
    --bs-gutter-x:0;
    margin-right:1.5rem;
}

.navbar, 
.footer{
    background-color: var(--secondary-text-color);
    color: var(--primary-background-color);
    font-size: 1.8rem;
    font-family: var(--primary-font);
}

.navbar{
    height:7.2rem;
    box-shadow: 0 0.5rem 0.5rem var(--shadow-color);
}

.navbar-brand img{
    max-height: 4.8rem;
    padding-left: 4rem;
}

.navbar a,
.navbar-nav .nav-link.active,
.footer a{
    color: var(--primary-background-color);
}

.navbar-nav .nav-link.active{
    text-decoration: underline;
}
.navbar a:hover,
.navbar-nav .nav-link.active:hover,
.footer a:hover{
    color: var(--second-highlight);
    font-weight: bold;
}

.navbar-toggler{
    color: var(--primary-background-color);
    border: 1px solid var(--primary-background-color);
    font-weight: bold;
    font-size: 2rem;
}

.navbar-collapse.show{
    background-color: var(--secondary-text-color);
    align-items: flex-start;
    padding-left: 4rem;
    margin-right:5.5rem;
}

.dropdown-menu.show{
    color:var(--primary-background-color);
    background-color: var(--secondary-text-color);
    font-size: 1.8rem;
    margin-left: -4rem;
    padding-left:6rem;
    padding-right:2rem;
}

.dropdown-divider{
    border-top: 2px solid var(--primary-background-color);
    margin-left: 1rem;
    margin-right: 1rem;
}

/* Footer */
.footer{
    height: 6.1rem;
    box-shadow: 0 0.5rem 0.5rem var(--shadow-color) inset;
}
.footer .fa-brands{
    padding:1.5rem;
    font-size:3rem;
}

/* forms */
#contactForm .form-control{
    font-size: 1.8rem;
    color:var(--secondary-text-color);
}
/* Messages */

.alert-success,
.alert-danger{
    --bs-alert-color:var(--primary-text-color);
    --bs-alert-link-color: var(--primary-text-color);
    padding-left:6rem;
    padding-right:6rem;
}
.alert-success{
    --bs-alert-bg:var(--success-background);
    --bs-alert-border-color:var(--success-background);
}
.alert-danger{
    --bs-alert-bg:var(--danger-background);
    --bs-alert-border-color:var(--danger-background);
}

/*Home page*/
/*hero image*/
#hero{
    background: url("../images/chocolate-bars.webp") no-repeat center center/cover fixed;
    min-height: 40vh;
    font-family: var(--heading-font);
    padding-top:4rem;
    padding-bottom:4rem;
    display: flex;
    align-items: center;
    justify-content: end;
}


#home-logo{
    background-color: var(--background-color-semi-transparent);
    border-radius: 10px 0 0 10px;
    padding:1rem 3rem 1rem 3rem;
    text-align: start;
}

#home-logo img{
    max-height: 16vh;
}

#home-title{
    margin-top: 2rem;
    margin-bottom:4rem;
}


/*workshop listings*/

.image-container{
    position: relative;
    margin-bottom: 2rem;
}

.card{
    border-radius: 0.5rem;
    background-color: var(--primary-background-color);
    overflow-x:hidden;
}

.card-wrapper{
    position: relative;
    margin-bottom:6rem;
    margin-left: 1rem;
    margin-right:1rem;
}

.card-child{
    border: 1px solid var(--third-highlight);
    box-shadow:1rem 1rem 2rem var(--secondary-background-color) ;
}

.card-family{
    border: 1px solid var(--second-highlight);
    box-shadow:1rem 1rem 2rem var(--second-highlight) ;
}

.card-adult{
    border: 1px solid var(--secondary-text-color);
    box-shadow:1rem 1rem 2rem var(--shadow-color) ;
}

.card-img-top{
    width:100%;
    aspect-ratio: 4/3;
    object-fit: cover;
    z-index: 75;
}

.workshop-date{
    position:absolute;
    top:-1.5rem;
    z-index:101;
    left:1rem;
        background-color: var(--primary-background-color);
    padding-left:1rem;
    padding-right:1rem;
}

.date {
    color: var(--secondary-text-color);
    font-family: var(--heading-font);
    font-weight:bold;
    margin-bottom: 0;
}
.low-stock{
    position: absolute;
    top:10%;
    left:-4px;
    background-color: var(--text-highlight-color);
    color:var(--primary-background-color);
    text-transform: uppercase;
    font-size: 1.8rem;
    padding-left:1rem;
    padding-right:1rem;
}

.low-stock p{
    margin-bottom: 0.2rem;
    margin-top: 0.2rem;
}

.cover-bottom-corner{
    background-color: var(--primary-background-color);
    position:absolute;
    bottom:-2.5rem;
    right:-3rem;
    height:8rem;
    width:8rem;
    border-radius: 4rem;
    z-index: 80;
}
.age-cat-text{
    position: absolute;
    font-family: var(--heading-font);
    font-weight: bold;
    text-align: end;
    margin-right: 4rem;
    padding-left:2rem;
    border-radius: 2rem 0 0 0;
    right:0;
    bottom:-2rem;
    z-index: 100;
    background-color: var(--primary-background-color);
}

.age-cat-symbol img{
    position:absolute;
    bottom:-2rem;
    right:-0.5rem;
    height:6rem;
    z-index: 90;
}

.adults{
    color:var(--secondary-text-color);
}

.family{
    color:var(--second-highlight);
}

.child{
    color:var(--third-highlight);
}

.workshop-link{
    text-decoration: none;
}

.workshop-link p{
    font-family: var(--primary-font);
    color:var(--secondary-text-color);
    font-size: 1.8rem;
}

.workshop-link p:hover{
    color:var(--third-highlight);
}

.card-title{
    color: var(--primary-text-color);
}

.workshop-link .card-title:hover{
    color:var(--text-highlight-color);
}

.card-btn-wrapper{
    display: flex;
    margin-top:2rem;
    margin-bottom:1rem;
    justify-content: center;
}

.filter-options{
    margin-right: 2rem;
    margin-bottom:1rem;
}
.filter-options li{
    list-style: none;
}

.filter-options a{
    color:var(--primary-text-color);
    text-decoration: none;
}

.filter-options a:hover{
    color:var(--text-highlight-color);
}

#filter-dropdown-reveal-ages{
    position:absolute;
    z-index:101;
    right:2rem;
    background-color: var(--primary-background-color);
    padding:0rem 3rem 1rem 3rem;
}

/*gallery*/

/* Worshop details page */

.workshop-header{
    position:relative;
    padding:0;
}

.workshop-detail-image{
    aspect-ratio: 16/9;
    object-fit: cover;
    width:100%;
}

.low-stock.detail-page{
    left:0;
    font-size:2.6rem;
}

.cover-bottom-corner.detail-page{
    bottom:-4rem;
    right:0.5rem;
    height:12rem;
    width:12rem;
    border-radius: 6rem;
}
.age-cat-symbol.detail-page img{
    right:3rem;
    bottom:-5rem;
    height:10rem;
}
.age-cat-text.detail-page{
    right:8rem;
}

.section-at-a-glance .fa-solid{
    font-size:2.2rem;
    color:var(--second-highlight);
    padding:1rem;
}

.workshop-title{
    padding-top:2rem;
    padding-bottom:4rem;
}

.section-workshop-detail{
    margin-top: 4rem;
}

.accordion{
    padding:4rem;
    border-width:0;
}
.accordion-button{
    font-size:1.8rem;
    color:var(--primary-text-color);
    background-color:var(--background-color-semi-transparent) ;    
}

.accordion-button:not(.collapsed){
    color:var(--primary-background-color);
    font-weight:bold;
    background-color: var(--secondary-text-color);
    box-shadow: 0.5rem 0.5rem 0.5rem var(--shadow-color);
}

.accordion-button:focus{
    box-shadow: 0.5rem 0.5rem 0.5rem var(--secondary-background-color);
}
/* Media queries */


/* Large screens 992px and above: laptops*/
@media screen and (min-width:992px) {
    .workshop-detail-image{
        aspect-ratio: 16/5;
    }

}