/* Font imported from Google fonts
 headings: M Plus Rounded 1c in extra bold weight
 body text: Lato in regular weight
*/
@import url('https://fonts.googleapis.com/css2?family=Lato&family=M+PLUS+Rounded+1c:wght@800&display=swap');

/* Variables */
:root {
    --primary-font:'Lato', sans-serif;
    --heading-font: 'M_Plus_rounded_1c', sans-serif;
    --primary-background-color: #fbfcee;
    --primary-text-color: #47290b;
    --text-highlight-color: #de1b28;
    --secondary-text-color: #693c10ff; /* walnut*/
    --secondary-background-color: #e5e88fff; /* cream*/
    --shadow-color: #cbbb9fff; /* beige*/
    --second-highlight: #78a857ff; /* green*/
    --third-highlight: #f95d12ff; /* orange*/
}

/* Generic style rules*/
html{
    font-size: 10px;
}

body{
    background-color: var(--primary-background-color); 
    font-family: var(--primary-font);
    color:var(--primary-text-color);
    font-size: 1.8rem;
    margin-top:5rem;
}

/* Buttons*/
.btn-main{
    background-color: var(--text-highlight-color);
    color:var(--primary-background-color);
    font-family: var(--primary-font), sans-serif;
    font-size: 1.5rem;
    padding-left:40px;
    padding-right:40px;
    box-shadow:2rem 2rem 5rem var(--second-highlight);
}

.btn-main:hover{
    background-color: var(--secondary-text-color);
    color:var(--secondary-background-color);
}

.btn-second{
    background-color: var(--secondary-text-color);
    color:var(--primary-background-color);
    font-family: var(--primary-font), sans-serif;
    font-size: 1.5rem;
    padding-left:40px;
    padding-right:40px;
    box-shadow:2rem 2rem 5rem var(--shadow-color);
}

.btn-second:hover{
    background-color: var(--secondary-background-color);
    color:var(--primary-text-color);
}

/* Navbar */

.navbar .container-fluid{
    --bs-gutter-x:0;
    margin-right:1.5rem;
}

.navbar, 
.footer{
    background-color: var(--secondary-text-color);
    color: var(--primary-background-color);
    font-size: 1.8rem;
    font-family: var(--primary-font);
}

.navbar{
    height:7.2rem;
    box-shadow: 0 0.5rem 0.5rem var(--shadow-color);
}

.navbar-brand img{
    max-height: 4.8rem;
    padding-left: 4rem;
}

.navbar a,
.navbar-nav .nav-link.active,
.footer a{
    color: var(--primary-background-color);
}

.navbar-nav .nav-link.active{
    text-decoration: underline;
}
.navbar a:hover,
.navbar-nav .nav-link.active:hover,
.footer a:hover{
    color: var(--second-highlight);
    font-weight: bold;
}

.navbar-toggler{
    color: var(--primary-background-color);
    border: 1px solid var(--primary-background-color);
    font-weight: bold;
    font-size: 2rem;
}

.navbar-collapse.show{
    background-color: var(--secondary-text-color);
    align-items: flex-start;
    padding-left: 4rem;
    margin-right:5.5rem;
}

.dropdown-menu.show{
    color:var(--primary-background-color);
    background-color: var(--secondary-text-color);
    font-size: 1.8rem;
    margin-left: -4rem;
    padding-left:6rem;
    padding-right:2rem;
}

.dropdown-divider{
    border-top: 2px solid var(--primary-background-color);
    margin-left: 1rem;
    margin-right: 1rem;
}

/* Footer */
.footer{
    height: 6.1rem;
    box-shadow: 0 0.5rem 0.5rem var(--shadow-color) inset;
}
.footer .fa-brands{
    padding:1.5rem;
    font-size:3rem;
}

/* Media queries */
/* Large screens 992px and above: laptops*/
@media screen and (min-width:992px) {
    .navbar-collapse{

    }
}