{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% url 'account_login' as login_url %}
{% url 'account_signup' as signup_url %}


{% block content %}


{% if user.is_authenticated %}
<div class=" container section">
    <div class="row justify-content-center">
        <div class="col-12">
            <h1 class="display-1 text-center"> Leave Feedback! </h1>
        </div>
        <div class="col-12">
            <p class="bold-text"> <i class="fa-solid fa-face-smile orange-text"></i> Welcome {{ user.first_name }}</p>
        </div>
    </div>
</div>

<div class="container section">

    <div class="row">
        <h2 class="display-3 red-text"> We'd love to hear your feedback from workshops you've attended in the past!</h2>
    </div>

    {% for bk in past_bookings %}
    <div class="row justify-content-center">
        <div class="col-12">
            <h3 class="display-4">{{ bk.workshop.activity.session_name }}: {{ bk.workshop.event_date|date:'jS M y' }}, {{ bk.workshop.event_date|time:'H:i' }}</h3>            
        </div>
        {% for fd in feedback_sorted %}
        {% if fd.booking.id == bk.id  and fd.submitted %}
        <div class="col-12 col-lg-10">
            <p><span class="bold-text">Rating:</span>
                {% if fd.feedback_rating == 1 %}
                <span class="red-text"><i class="fa-solid fa-star"></i></span>
                {% elif fd.feedback_rating == 2 %}
                <span class="red-text"><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i></span>
                {% elif fd.feedback_rating == 3 %}
                <span class="orange-text"><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i></span>
                {% elif fd.feedback_rating == 4 %}
                <span class="green-text"><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i></span>  
                {% elif fd.feedback_rating == 5 %}
                <span class="green-text"><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i></span> 
                {% else %}
                No rating left 
                {% endif %} 
            </p>
        </div>
        <div class="col-12 col-lg-10">
            <p><span class="bold-text">Comment:</span> {{fd.feedback_comment | safe }}</p>
        </div>
        <div class="col-12 col-lg-10">
            {% if fd.recommend %}
            <p class="bold-text"> I would recommend this workshop to others. </p>
            {% else %}
            <p class="bold-text"> I would not recommend this workshop to others. </p>
            {% endif %}
        </div>
        <div class="col-12 col-lg-10">
            <div class="row section justify-content-center justify-content-md-end">
                <div class="col-12 col-md-4 section text-center text-md-end">
                    <a class="btn btn-second" href="{% url 'feedback_form'  bk.id  %}" > Update </a>
                </div>
                <div class="col-12 col-md-4 section text-center text-md-end">
                    <button class="btn btn-main btn-delete" data-feedback_id="{{ fd.id }}"> Delete </button>
                </div>
            </div>
        </div>
        {% elif fd.booking.id == bk.id  and not fd.submitted %}
        <div class="col-12 col-lg-10">
            <div class="row section justify-content-center justify-content-md-end">
                <div class="col-12 col-md-4 section text-center text-md-end">
                    <a class="btn btn-second" href="{% url 'feedback_form'  bk.id  %}" > Leave feedback </a>
                </div>
            </div>
        </div>
        {% endif %}
        {% endfor %}

        <hr class = "section">
</div>
{% endfor %}

</div>



{% else %}
<div class="container section">
    <div class="row">
        <div class="col-10 col-md-8 col-lg-7 text-center">
            <p> Please register for an account or sign in: </p>
        </div>
        <div class="col-md-6 text-center section">
            <a class="btn btn-second" type="submit" href="{% url 'account_signup' %}"> Register </a>
        </div>
        <div class="col-md-6 text-center section">
            <a class="btn btn-second" type="submit" href="{% url 'account_login' %}"> Sign in </a>
        </div>
    </div>
</div>
        

{% endif %}

<!-- Delete feedback modal here -->
<div class="modal fade" id="deleteModal" tabindex="-1"
  aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="display-4"
          id="deleteModalLabel"> Delete feedback comments </h5>
        <button type="button" class="btn-close"
          data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body justify-content-center">
        <p>Are you sure you want to delete your feedback?
        </p>
        <p class="red-text">This action cannot be undone.</p>
      </div>
      <div class="modal-footer justify-content-center">
        <button type="button" class="btn btn-pag"
          data-bs-dismiss="modal">Keep</button>
        <a id="deleteConfirm" href="#" class="btn
          btn-main">Delete</a>
      </div>
    </div>
  </div>
</div>



{% endblock content %}

{% block extra_scripts %}
<script src="{% static 'js/delete_feedback.js' %}"></script>
{% endblock extra_scripts %}