{% extends 'base.html' %}
{% load static %}
{% url 'account_login' as login_url %}
{% url 'account_signup' as signup_url %}

{% block content %}


{% if user.is_authenticated %}
<div class=" container section">
    <div class="row justify-content-center">
        <div class="col-12">
            <h1 class="display-1 text-center"> My Workshops! </h1>
        </div>
        <div class="col-12">
            <p class="bold-text"> <i class="fa-solid fa-face-smile orange-text"></i> Welcome {{ user.first_name }}</p>
        </div>
    </div>
</div>

<div class="container section">

    <div class="row">
        <p class="display-4"> These are the workshops you have coming up: </p>
    <div class="col-12">
        <p> <span class="red-text"> Please update your booking should the dietary requirements of those attending change.
            </span> If you have any queries then just get in touch by email: manager@business.com
        </p>
    </div>
        <div class="col-12">
        <p><span class="orange-text">Payment for your workshop</span> can be made in person on the day prior to the session starting or in advance
        by BACS.</p> 
        <p>Our details are: 'bank', Account Number: 1234 5678 9012 Sort Code: 12-34-56. Please add the reference
        of your name and date of the workshop to your payment.</p>
    </div>
    </div>
    {% for session in reservation_list %}
    {% if session.workshop.publication_status == 1 %}
    <div class="row justify-content-center">
        <div class="col-12">
            <h2 class="display-4">{{ session.workshop.activity.session_name }}: {{ session.workshop.event_date|date:'jS M y' }}, {{ session.workshop.event_date|time:'H:i' }}</h2>
            
        </div>
        <div class="col-10 col-md-8">
            <div class="row section-at-a-glance-bookings">
                <div class="col-12 col-lg-6">
                    <i class="fa-brands fa-readme"></i> <a href="{% url 'workshop_detail' session.workshop.slug %}"> More information </a>
                </div>
                <div class="col-12 col-lg-6">
                    <i class="fa-solid fa-clock"></i> {{ session.workshop.category.workshop_duration }} minutes
                </div>
                <div class="col-12 col-lg-6">
                    <i class="fa-solid fa-tag"></i> £{{ session.workshop.category.workshop_price }} per person
                </div>
                <div class="col-12">
                    <i class="fa-solid fa-location-dot"></i> {% if session.workshop.location == "on site" %} Yew
                    Tree Farm, Wootton Wawen, B95 6BY {% else %} {{ session.workshop.location }} {% endif %}
                </div>
            </div>
        </div>
        <div class="col-12">
            <p> <span class="bold-text">Number of tickets booked:</span> {{ session.tickets }}</p>
            {% if session.workshop.category.target_audience == 'FA' %}
            <p class="notes red-text"> This is a family workshop. Each person attending (both parents/adults and the children)
                need to have a place reserved to be able to stay and take part.</p>
            {% endif %}

            {% if not session.has_dietary_requirements %}

            <p><span class="bold-text">Dietary requirements:</span> None of those attending have any special dietary requirements and are happy to use milk, white or dark
                chocolate.</p>
            {% else %}
            <p class="bold-text"> Details of my dietary requirements are:</p>
            <p> {{ session.additional_information }}</p>
            {% endif %}
        </div>
        <div class="col-12">
            <div class="row section justify-content-center justify-content-md-end">
                <div class="col-12 col-md-4 section text-center text-md-end">
                    <a class="btn btn-second" href="#"> Update details </a>
                </div>
                <div class="col-12 col-md-4 section text-center text-md-end">
                    <a class="btn btn-main" href="#"> Cancel booking </a>
                </div>
            </div>
        </div>
    <hr class = "section">
</div>
{% endif %}
{% endfor %}

</div>

{% if sessions_attended %}
<div class="container section">
    <div class="row">
        <p class="display-4"> These are the workshops you have attended in the past: </p>
    </div>
    {% for session in reservation_list %}
    {% if reservation.workshop.publication_status == 3 %}
    <div class="row">
        <div class="col-12">
            <h2 class="display-3">{{ session.workshop.event_date|date:'l jS M y' }}, {{ session.workshop.event_date|time:'H:i' }}</h2>
            <h3 class="display-4">{{ session.workshop.activity.session_name }} </h3>
        </div>
        <div class="col-10 col-md-8">
            <div class="row section-at-a-glance-bookings">
                <div class="col-12 col-lg-6">
                    <i class="fa-brands fa-readme"></i> <a href="{ url 'workshop_detail' session.workshop.slug }">More information</a>
                </div>
                <div class="col-12 col-lg-6">
                    <i class="fa-solid fa-clock"></i> {{ session.workshop.category.workshop_duration }} minutes
                </div>
                <div class="col-12 col-lg-6">
                    <i class="fa-solid fa-tag"></i> £{{ session.workshop.category.workshop_price }} per person
                </div>
                <div class="col-12">
                    <i class="fa-solid fa-location-dot"></i> {% if session.workshop.location == "on site" %} Yew
                    Tree Farm, Wootton Wawen, B95 6BY {% else %} {{ session.workshop.location }} {% endif %}
                </div>
            </div>
        </div>
        <div class="col-12">
            <p> Number of tickets booked: {{ session.tickets }}</p>
        </div>
        {% if not session.feedbackSubmitted %}
        <div class="col-6">
            <a class="btn btn-second" href="#"> Submit Feedback </a>
        </div>
        {% else %}
        <div class="col-12">
            <p> Your feedback for this session was:</p>
        </div>
        {% endif %}
        <hr>
    </div>
    {% endif %}
    {% endfor %}

</div>
{% endif %}

{% else %}
<div class="container section">
    <div class="row">
        <div class="col-10 col-md-8 col-lg-7 text-center">
            <p> Please register for an account or sign in: </p>
        </div>
        <div class="col-md-6 text-center section">
            <a class="btn btn-second" type="submit" href="{% url 'account_signup' %}"> Register </a>
        </div>
        <div class="col-md-6 text-center section">
            <a class="btn btn-second" type="submit" href="{% url 'account_login' %}"> Sign in </a>
        </div>
    </div>
</div>
        

{% endif %}

{% endblock content %}

<!-- {% block extra_scripts %}
<script src="{% static 'js/booking_two.js' %}"></script>
{% endblock extra_scripts %} -->