{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% url 'account_login' as login_url %}
{% url 'account_signup' as signup_url %}

{% block content %}

<div class=" container section">
    <div class="row justify-content-center">
        <div class="col-12">
            <h1 class="display-3"> Book Now!</h1>
        </div>
    </div>
    <div class="row justify-content-center section">

        {% if user.is_authenticated %}
        <div class="col-10 col-md-8 col-lg-6">
            <form id="RevervationForm" method="POST">
                {{ booking_form | crispy }}
                {% csrf_token %}
                <button type="submit" class="btn btn-pag"> Next </button>
            </form>
        </div>
        {% else %}
        <div class="col-10 col-md-8 col-lg-7 text-center">
            <p> Please register for an account or sign in to book a place on a workshop: </p>
        </div>
        <div class="col-md-6 text-center section">
            <a class="btn btn-second" type="submit" href="{% url 'account_signup' %}"> Register </a>
        </div>
        <div class="col-md-6 text-center section">
            <a class="btn btn-second" type="submit" href="{% url 'account_login' %}"> Sign in </a>
        </div>

        {% endif %}

    </div>


</div>


{% endblock content %}